<%- include('../partials/header') %>

<h2>LaptopGuru Store</h2>
<div>
    <% items.forEach(function(item) { %>
                <h5>
                    <%= item.name %>
                </h5>
                <a href="/items/<%= item.id %>">Detail Page</a>
                <form method="POST" action="/orders/<%= item.id %>?_method=PATCH">
                    <button>Add to Cart</button>
                </form>
              
           
        <% }); %>
</div>

<%- include('../partials/footer') %>